<% if session[:user_id] %>
<% else %>
  <%= button_to "Create New User", register_path, method: :get %>
<% end %>
<% if session[:user_id] %>
  <section class='existing-users'>
    <p>Existing Users: </p>
    <% @users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </section>
<% end %>